:root {
  --color-bg: hsl(240, 6%, 18%);
  --color-bg-hover: hsl(204, 86%, 42%);
  --color-active: hsl(205, 63%, 68%);
	--color-error:hsl(5, 70%, 50%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header {
	position: relative;
  background-color: var(--color-bg);
  padding: 2rem 0;
  text-align: center;
}
header > a {
  color: white;
  text-decoration: none;
  padding: 0 1rem;
}
header > a:hover {
  text-decoration: underline;
}

h1,
h2 {
  margin-top: 0;
  text-align: center;
}

.container {
  max-width: 1280px;
  width: 100%;
  min-height: calc(100vh - 85px - 22px);
  padding: 1.5rem 0;
  margin: 0 auto;
}

.container a {
  text-decoration: none;
  color: var(--color-bg);
}

.container a:hover {
  text-decoration: underline;
}

.active-link {
  color: var(--color-active);
  cursor: default;
}

.btn-logout {
	position: absolute;
	top: 50%;
	right: 5%;
	padding: 5px;
	transform:  translateY(-50%);
	cursor: pointer;
}

.error {
  padding: 7px 0;
  color: var(--color-error);
}

.footer {
  padding: 0 1.5rem;
}